@model IEnumerable<ST10150702_PROG6212_POE.Models.Claim>

    <h2> Lecturer List</h2>

    <table class="table">
        <thread>
            <tr>
                <th>ClaimID</th>
                <th>LecturerID</th>
                <th>Total Hours Worked</th>
                <th>Amount Due</th>
                <th>Status</th>
            </tr>
        </thread>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClaimID</td>
                <td>@item.LecturerID</td>
                <td>@item.TotalHoursWorked</td>
                <td>@item.AmountDue</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ClaimID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    </table>